body{
    background: mediumturquoise;
}

section{
  
   
    background-color: aquamarine;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}
